@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Inter:wght@300;400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* Custom transitions for premium feel */
.transition {
    transition: all 0.3s ease-in-out;
}
